/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.li-success {
  padding-inline-start: 1ch;
}

.li-success::marker {
  color: green;
  content: "✓";
}

.li-fail {
  padding-inline-start: 1ch;
}

.li-fail::marker {
  color: red;
  content: "✕";
}

.li-no-bullets {
  list-style-type: none;
}

.col-scrollable {
  overflow-y: scroll;
  max-height: calc(100vh - 15px);
}

/* limit the maximum width of text for readability */
.container-readable-width {
  max-width: 600px;
}

/* limit the maximum width of the area in use, for very wide screens */
.container-reasonable-width {
  max-width: 1200px;
}
