<div class="form-check">
  <Input data-test-advantage class="form-check-input" @type="radio" name="advState" id="adv" {{on "click" (fn
    @updateState this.AdvantageState.ADVANTAGE) }} />
  <label class="form-check-label" for="adv">
    Advantage
  </label>
</div>
<div class="form-check">
  <Input data-test-straight class="form-check-input" @type="radio" name="advState" id="straight" checked {{on "click" (fn
    @updateState this.AdvantageState.STRAIGHT) }} />
  <label class="form-check-label" for="straight">
    Straight roll
  </label>
</div>
<div class="form-check">
  <Input data-test-disadvantage class="form-check-input" @type="radio" name="advState" id="disadv" {{on "click" (fn
    @updateState this.AdvantageState.DISADVANTAGE) }} />
  <label class="form-check-label" for="disadv">
    Disadvantage
  </label>
</div>