<footer>
  <div class='container d-flex justify-content-end mb-3'>
    <small>
      <i>
        Found a bug? File an issue on
        <a href='https://github.com/jbpeirce/multiattack-5e/issues'>Github</a>.
      </i>
    </small>
  </div>
</footer>