<div class='container-reasonable-width'>
  <div class='row align-items-center'>
    <div class='col col-lg-9 pt-5 pb-2'>
      <div class='container-readable-width'>
        <h1>Repeated Attack and Save Simulator</h1>
        <p>
          Did a druid just summon a pack of wolves? Is a marilith focusing on a
          single opponent? The tool under the "Attacks" tab simulates repeated
          identical attacks on a single target and displays the total damage
          alongside a breakdown of the attacks.
        </p>
        <p>
          Is a rival mage fireballing a necromancer's zombie horde? Are a group
          of pixies all trying to bewilder an intruder's mind? Switch to the
          "Saves" tab to simulate repeated identical saving throws against
          optional damage.
        </p>
        <p>
          This uses a 20-sided die for attack rolls and saving throws, as in D&D
          5e and similar systems. If an attack is a critical hit (rolls a 20),
          the damage dice are rolled twice. For attacks, rolling a 1 on the d20
          always misses, and a 20 always hits.
        </p>
      </div>
    </div>
  </div>
  <nav>
    <div class='nav nav-tabs' id='nav-tab' role='tablist'>
      <button
        data-test-button-attackTab
        class='nav-link active'
        id='nav-attacks-tab'
        data-bs-toggle='tab'
        data-bs-target='#nav-attacks'
        type='button'
        role='tab'
        aria-controls='nav-attacks'
        aria-selected='true'
      >Attacks</button>
      <button
        data-test-button-saveTab
        class='nav-link'
        id='nav-saves-tab'
        data-bs-toggle='tab'
        data-bs-target='#nav-saves'
        type='button'
        role='tab'
        aria-controls='nav-saves'
        aria-selected='false'
      >Saves</button>
    </div>
  </nav>
  <div class='tab-content' id='nav-tabContent'>
    <div
      class='tab-pane fade show active'
      id='nav-attacks'
      role='tabpanel'
      aria-labelledby='nav-attacks-tab'
      tabindex='0'
    >
      <div class='py-3'>
        <RepeatedAttackForm />
      </div>
    </div>
    <div
      class='tab-pane fade'
      id='nav-saves'
      role='tabpanel'
      aria-labelledby='nav-saves-tab'
      tabindex='0'
    >
      <div class='py-3'>
        <RepeatedSaveForm />
      </div>
    </div>
  </div>
</div>